@font-face {
    font-family: 'Poppins Medium', sans-serif;
    src: url(Poppins-Medium.ttf);
}
@font-face {
    font-family: 'Poppins Light', sans-serif;
    src: url(Poppins-Light-ttf);
}
@font-face {
    font-family: 'Lora', serif;
    src: url(Lora-Italic.ttf);
}

html {
    margin: 0;
    padding: 0;
    height: 100vh;
    cursor: none;
}

body {
    background-color: #FEF6FB;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;    
    overflow: auto;
    overflow-x: hidden;
    cursor: none;
}

.heading-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.nav-container {
    width: 100%;
    height: 63px;
    background-color: #FEF6FB;
    border-bottom: 1px solid #250418;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

.nav-link {
    color:#250418;
    text-align: left;
    font-family: 'Poppins Medium', sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 18px;
    padding-top: 14px;
}

a {
    color: #250418;
    cursor: none;
    text-decoration: none;
}

.flexbox-container-nav-circles {
    width: 36px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-right: 16px;
}

.nav-circle-1 {
    width: 24px;
    height: 24px;
    background-color: #250418;
    border-radius: 100%;
    margin-right: -12px; 
    z-index: 1; 
    position: relative;
    animation: scaleAnimation 3s infinite;
    transform-origin: center;
}

.nav-circle-2 {
    width: 22px;
    height: 22px;
    background-color: #FEF6FB;
    border: 1px solid #250418; 
    border-radius: 100%;
    margin-top: -24px;
    margin-left: -12px;
    z-index: 0;
    position: relative;
    animation: scaleAnimation 3s infinite;
    transform-origin: center;
}

@keyframes scaleAnimation {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
  }
  
.flexbox-container {
    max-width: 100%;
    height: auto;
    padding-top: 96px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 32px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
    flex-direction: row;
    gap: 16px;
}

.flexbox-item {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
}

.flexbox-item-1,
.flexbox-item-2,
.flexbox-item-3,
.flexbox-item-4,
.flexbox-item-5,
.flexbox-item-6,
.flexbox-item-7,
.flexbox-item-8,
.flexbox-item-9 {
    max-width: 100%;
    max-height: 100%;
}

img, video {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.flexbox-item-1,
.flexbox-item-2,
.flexbox-item-3,
.flexbox-item-4,
.flexbox-item-5,
.flexbox-item-6,
.flexbox-item-7,
.flexbox-item-8,
.flexbox-item-9 {
    position: relative;
    overflow: hidden;
}

.flexbox-item-1 img,
.flexbox-item-2 img,
.flexbox-item-3 img,
.flexbox-item-4 img,
.flexbox-item-5 img,
.flexbox-item-6 img,
.flexbox-item-7 img,
.flexbox-item-8 img,
.flexbox-item-9 img {
    width: 100%; 
    height: auto; 
    transition: opacity 0.3s ease;
}

.flexbox-item::after {
    text-transform: uppercase;
    font-family: 'Poppins Light', sans-serif;
    font-size: 1em;
    color: #250418;
    font-weight: 300;
    position: absolute;
    top: 8px; 
    left: 12px;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.flexbox-item-1::after {
    content: "Sussurri Urbani";
}
.flexbox-item-2::after {
    content: "Mutevole";
}
.flexbox-item-3::after {
    content: "Living o'clock";
}
.flexbox-item-4::after {
    content: "StandBy";
}
.flexbox-item-5::after {
    content: "The Shape";
}
.flexbox-item-6::after {
    content: "La Maison de l'Architecte";
}
.flexbox-item-7::after {
    content: "Politarocchi";
}
.flexbox-item-8::after {
    content: "Zadig & Voltaire";
}
.flexbox-item-9::after {
    content: "Thin Things";
}

.flexbox-item-1:active img,
.flexbox-item-2:active img,
.flexbox-item-3:active img,
.flexbox-item-4:active img,
.flexbox-item-5:active img,
.flexbox-item-6:active img,
.flexbox-item-7:active img,
.flexbox-item-8:active img,
.flexbox-item-9:active img {
    opacity: 0.3; 
}

.flexbox-item-1:active::after,
.flexbox-item-2:active::after,
.flexbox-item-3:active::after,
.flexbox-item-4:active::after,
.flexbox-item-5:active::after,
.flexbox-item-6:active::after,
.flexbox-item-7:active::after,
.flexbox-item-8:active::after,
.flexbox-item-9:active::after {
    visibility: visible;
    opacity: 1;
    z-index: 2;
}

.flexbox-item-1:active,
.flexbox-item-2:active,
.flexbox-item-3:active,
.flexbox-item-4:active,
.flexbox-item-5:active,
.flexbox-item-6:active,
.flexbox-item-7:active,
.flexbox-item-8:active,
.flexbox-item-9:active {
    opacity: 1; 
}

.content {
    width: 100%;
    height: auto;
    padding-top: 96px;
    padding-bottom: 32px; 
    padding-left: 1em;
    padding-right: 1em;
    box-sizing: border-box;
}

h1 {
    margin: 0;
    line-height: 1;
    color:#250418;
    text-align: left;
    font-family: 'Poppins Medium', sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    text-transform: uppercase;
}

.text-container {
    width: 100%;
    height: 16px;
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

h2 {
    margin: 0;
    text-align: left;
    font-family:'Lora', serif;
    font-style: italic;
    font-size: 1em;
    color: #250418;
    font-weight: 400;
}

h3 {
    margin: 0;
    text-align: right;
    font-family:'Lora', serif;
    font-style: italic;
    font-size: 1em;
    color: #250418;
    font-weight: 400;
}

.project-1-image-1,
.project-2-image-1 {
    max-width: 100%;
    height: auto;
    margin-top: 32px;
}

.project-1-description-1 {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
    font-family: 'Poppins Light', sans-serif;
    font-size: 1em;
    color: #250418;
    font-weight: 300;
    align-self: flex-end;
}

.project-1-image-2 {
    max-width: 100%;
    height: auto;
    margin-bottom: 16px;
}

.project-2-image-2 {
    max-width: 100%;
    height: auto;
}

.project-1-description-2,
.project-1-description-3 {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
    font-family: 'Poppins Light', sans-serif;
    font-size: 1em;
    color: #250418;
    font-weight: 300;
    align-self: flex-start;
}

.project-1-image-3 {
    max-width: 100%;
    height: auto;
    align-self: flex-start;
}

.project-1-image-5,
.project-1-image-7 {
    max-width: 100%;
    height: auto;
    margin-top: 16px;
    align-self: flex-start;
}

.project-1-image-4,
.project-1-image-6,
.project-1-image-8,
.project-2-image-9,
.project-2-image-11 {
    max-width: 100%;
    height: auto;
    margin-top: 16px;
    align-self: flex-end;
}

.project-2-description-1 {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
    font-family: 'Poppins Light', sans-serif;
    font-size: 1em;
    color: #250418;
    font-weight: 300;
    align-self: flex-end;
}

.project-2-description-2 {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
    font-family: 'Poppins Light', sans-serif;
    font-size: 1em;
    color: #250418;
    font-weight: 300;
    align-self: flex-start;
}

.project-2-image-3 {
    max-width: 100%;
    height: auto;
    align-self: flex-end;
}

.project-2-image-4 {
    max-width: 100%;
    height: auto;
    margin-top: 32px;
    align-self: flex-start;
}

.project-2-image-5,
.project-2-image-6,
.project-2-image-7 {
    max-width: 100%;
    height: auto;
    align-self: flex-start;
}

.project-2-caption-1,
.project-2-caption-2,
.project-2-caption-3,
.project-2-caption-4 {
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: left;
    font-family: 'Poppins Light', sans-serif;
    font-size: 0.75em;
    color: #250418;
    font-weight: 300;
}

.project-2-description-3 {
    margin-top: 22px;
    margin-bottom: 30px;
    text-align: left;
    font-family: 'Poppins Light', sans-serif;
    font-size: 1em;
    color: #250418;
    font-weight: 300;
    align-self: flex-end;
}

.project-2-image-8,
.project-2-image-10,
.project-2-image-12 {
    max-width: 100%;
    height: auto;
    margin-top: 16px;
    align-self: flex-start;
}

.project-2-last-photos-container {
    max-width: 100%;
    height: auto;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
}

.project-2-image-13,
.project-2-image-14 {
    max-width: 100%;
    flex: 0 0 48%;
}

.menuitem-1 {
    height: 36px;
    border-bottom: 1px solid #250418;
    border-top: 1px solid #250418;
    line-height: 36px;
    background: #FEF6FB;
    color: #250418;
    text-align: left;
    font-family: 'Poppins Medium', sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 18px;
    padding-top: 64px;
    z-index: 1000;
}
  
.contentbox-1 {
    overflow: hidden;
    height: 0;
    transition-duration: 1s;
    max-width: 100%;
    height: 0;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.menuitem-2 {
    height: 36px;
    border-bottom: 1px solid #250418;
    border-top: 1px solid #250418;
    line-height: 36px;
    background: #FEF6FB;
    color: #250418;
    text-align: left;
    font-family: 'Poppins Medium', sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 18px;
    margin-top: -1px;
    z-index: 0;
}
  
.contentbox-2 {
    overflow: hidden;
    height: 0;
    transition-duration: 1s;
    z-index: 0;
}
  
.contentbox-active {
  height: calc(100vh - 138px)
}

.about-me-image-1 {
    max-width: 100%;
    max-height: auto;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    z-index: -1000;
}

.descriptions-container {
    max-width: 100%;
    max-height: auto;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 2em;
}

.about-me-description-1,
.about-me-description-2 {
    max-width: 100%;
    text-align: left;
    font-family: 'Poppins Light', sans-serif;
    font-size: 1em;
    color: #250418;
    font-weight: 300;
    margin: 0;
}

.about-me-description-1 {
    margin-bottom: 1em;
}

.contacts-descriptions-container{
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.contacts-description-1,
.contacts-description-2,
.contacts-description-3,
.contacts-description-4 {
    text-align: left;
    font-family: 'Poppins Light', sans-serif;
    font-size: 1em;
    color: #250418;
    font-weight: 300;
}

.contacts-description-5,
.contacts-description-6,
.contacts-description-7 {
    padding-bottom: 32px;
    text-align: left;
    font-family: 'Poppins Light', sans-serif;
    font-size: 1em;
    color: #250418;
    font-weight: 300;
    padding-left: 1em;
    padding-right: 1em;
}

@media screen and (min-width: 1025px) {
    body {
        cursor: none;
    }
    html {
        cursor: none;
    }
    .cursor {
        width: 24px;
        height: 24px;
        background-color: #C92C8A;
        border-radius: 50%;
        position: absolute;
        pointer-events: none;
        z-index: 9999;     
        transform: translate(-50%, -50%);
        transition: opacity 0.3s ease;
        cursor: none;
    }
    .nav-container {
        padding-top: 0 !important;
        cursor: none;
    }
    .nav-link {
        padding-top: 14px !important;
        font-size: 1.5em !important;
    }
    .flexbox-item-1:hover img,
    .flexbox-item-2:hover img,
    .flexbox-item-3:hover img,
    .flexbox-item-4:hover img,
    .flexbox-item-5:hover img,
    .flexbox-item-6:hover img,
    .flexbox-item-7:hover img,
    .flexbox-item-8:hover img,
    .flexbox-item-9:hover img {
        opacity: 0.2;
    }
    .flexbox-item-1:hover::after,
    .flexbox-item-2:hover::after,
    .flexbox-item-3:hover::after,
    .flexbox-item-4:hover::after,
    .flexbox-item-5:hover::after,
    .flexbox-item-6:hover::after,
    .flexbox-item-7:hover::after,
    .flexbox-item-8:hover::after,
    .flexbox-item-9:hover::after {
        visibility: visible;
        opacity: 1;
        z-index: 2;
    }
    .flexbox-item-1:hover,
    .flexbox-item-2:hover,
    .flexbox-item-3:hover,
    .flexbox-item-4:hover,
    .flexbox-item-5:hover,
    .flexbox-item-6:hover,
    .flexbox-item-7:hover,
    .flexbox-item-8:hover,
    .flexbox-item-9:hover {
        opacity: 1; 
    }
    .content {
        box-sizing: border-box;
    }
    a {
        cursor: none;
        position: relative;
    }
    .flexbox-item {
        flex: 0 0 calc(33.33% - 11px);
    }
    h2, 
    h3 {
        font-size: 1.25em !important;
    }
    .project-1-description-1,
    .project-2-description-1 {
        margin-right: 20%;
        margin-left: 40%;
        font-size: 1.125em !important;
    }
    .project-1-description-2,
    .project-2-description-2 {
        margin-right: 53%;
        margin-left: 7%;
        font-size: 1.125em !important;
    }
    .project-1-image-3,
    .project-1-image-5,
    .project-1-image-7,
    .project-2-image-4,
    .project-2-image-5,
    .project-2-image-6,
    .project-2-image-7,
    .project-2-image-8,
    .project-2-image-10,
    .project-2-image-12  {
        margin-right: 35% !important; 
    }
    .project-1-image-4,
    .project-1-image-6,
    .project-1-image-8,
    .project-2-image-3,
    .project-2-image-9,
    .project-2-image-11,
    .project-2-last-photos-container {
        margin-left: 35% !important;
    }
    .project-2-image-13,
    .project-2-image-14 {
        max-width: 100%;
        flex: 0 0 49%;
}
    .project-1-description-3 {
        margin-right: 40%;
        margin-left: 20%;
        font-size: 1.125em !important;
    }
    .project-2-description-3 {
        margin-right: 7%;
        margin-left: 53%;
        font-size: 1.125em !important;
    }
    .contentbox-1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 32px;
    }
    .contentbox-2 {
        display: flex;
        justify-content: space-between;
    }
    .contacts-descriptions-container {
        padding-left: 9%;
        margin-top: 2.25em !important;
    }
    .about-me-description-1,
    .about-me-description-2,
    .contacts-description-1,
    .contacts-description-2,
    .contacts-description-3,
    .contacts-description-4,
    .contacts-description-5,
    .contacts-description-6,
    .contacts-description-7 {
        font-size: 1.125em !important;
    }
    .contacts-description-5,
    .contacts-description-6,
    .contacts-description-7 {
        margin-top: 2em;
    } 
    .contacts-description-7 {
        margin-right: 9%;
    } 
    .about-me-image-1 {
        max-width: calc(25% - 16px);
        flex: 0 0 calc(25% - 16px);
        margin-left: 9%;
        margin-top: 2.2em;
    }
    .descriptions-container {
        max-width: calc(48% - 0px);
        flex: 0 0 calc(48% - 0px);
        margin-right: 9%;
        margin-top: 2em;
    }
    .flexbox-container {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 16px;
    }
}